.Footer {
  font-size: 12px;
  margin: 10px 0;
  padding-bottom: 5px;
}
.Footer a {
  color: #30307f;
  text-decoration: none;
}
.Footer a:hover {
  color: blue;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}
@media (max-width: 900px) {
  .Footer {
    max-width: 400px;
  }
}
