.Weather {
  background: linear-gradient(
    234deg,
    rgb(143, 205, 213) 21%,
    rgb(48, 48, 127) 96%
  );
  border: 2px solid #30307f;
  border-radius: 4px;
  color: #ffffff;
  margin-top: -50px;
  padding: 20px;
}

.Weather h1 {
  color: #30307f;
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
  margin-top: 40px;
}
.date {
  margin-top: 20px;
  text-align: center;
}
.Weather .btn {
  background: #30307f;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  height: 43px;
}

.Weather li {
  font-size: 16px;
  list-style: none;
}

.TemperatureUnits {
  margin-top: 20px;
}

.Weather .temperature {
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}

.Weather canvas {
  margin-top: 10px auto;
}
.Weather .units {
  font-size: 16px;
  position: relative;
  top: -20px;
}
.units a {
  color: #30307f;
  text-decoration: none;
}
.units a:hover {
  color: #ffffff;
  font-size: 25px;
}
.data {
  margin-top: 20px;
 
}

.Weather .btn:hover {
  background: #8fcdd5;
  border: #30307f;
  transition: ease-in-out 200ms;
}

@media (max-width: 900px) {
  .Weather {
    max-width: 450px;
  }
  .Weather .btn {
    font-size: 12px;
    padding: 5px 5px;
  }
  .Weather h1 {
    font-size: 45px;
  }

  .Weather .searchControl {
    width: 150px;
  }

  .WeatherForecastDay {
    font-size: 12px;
  }
}
